@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}


.animate-pop-up {
    animation-name: pop-up;
    animation-duration: 0.5s;
    /* Add more animation properties as needed */
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }